.dictionary {
  height: 100%;

  &__title {
    color: $heading;
    font-size: 1.5em;
    padding-bottom: 0.6em;
  }

  &__para {
    color: $paragraph;
    padding-bottom: 0.6em;
    line-height: 28px;
  }

  &__container {
    position: relative;
    max-width: 1060px;
    background-color: $background;
    border-radius: 6px;
    margin-bottom: 20px;

    input {
      width: 100%;
      background-color: transparent;
      outline: none;
      padding-top: 1.4%;
      padding-bottom: 1.4%;
      padding-left: 1.4%;
      color: white;

      &::placeholder {
        color: $paragraph;
      }
    }
  }

  &__svg {
    position: absolute;
    right: 2%;
    top: 4%;
    font-size: 1.7em;
  }
}

.cardDictionary {
  position: relative;
  max-width: 1060px;
  padding: 1em;

  &__speaker {
    font-size: 1.6em;
    cursor: pointer;
  }

  &__speakerContainer {
    display: flex;
    align-items: center;
    color: $button;
    column-gap: 0.1em;
    padding-bottom: 0.6em;
  }

  &__title {
    color: $heading;
    text-transform: capitalize;
    font-size: 1.4em;
    padding-bottom: 0.4em;
  }

  &__pronunciation {
    font-size: 1.1em;
  }

  &__type {
    color: white;
    text-transform: capitalize;
  }

  &__titleMeaning {
    color: $heading;
    padding-bottom: 0.8em;
  }

  &__meaning {
    padding-left: 1em;
    line-height: 28px;
    width: 100%;
  }

  &__point {
    color: $button;
    padding-right: 0.4em;
  }
}

.cardDictionary--home {
  background-color: $background;
  max-width: none;
  border-radius: 10px;
  flex: 100%;
  margin-top: 0.8em;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.cardSkeleton {
  width: 100%;
  min-height: 210px;
  background-color: $background;
  margin-top: 0.8em;
  border-radius: 10px;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@media screen and (min-screen: 600px) {
  .dictionary {
    background-color: blue;
  }
}
