.home {
  display: flex;
  column-gap: 1.2rem;
  row-gap: 2em;
  width: 100%;
  flex-direction: column;
}
.welcomeCard {
  flex: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
  background-color: $stroke;

  &__imgContainer {
    max-width: 90px;
    max-height: 90px;

    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  &__date {
    flex: 100%;
    border-radius: 10px;
    background-color: $background;
    padding: 20px;
    min-width: 240px;
    justify-content: center;
    row-gap: 0.8em;
    display: flex;
    flex-direction: column;
  }

  .card {
    flex: 100%;
    padding: 0em 2em;
    padding-right: 4em;

    &-img__container {
      width: 32%;
      min-width: 200px;
    }

    &-over__title {
      font-size: 2.5em;
    }

    &__para {
      color: $paragraph;
      font-size: 18px;
      max-width: 500px;
      line-height: 28px;
    }
  }
}

.card__time {
  text-align: center;
  &--clock {
    font-weight: bolder;
    color: $paragraph;
    font-size: 1.6em;
  }
}

// word session
.word {
  flex: 100%;
  gap: 4em;
  display: flex;
  flex-wrap: wrap;

  &__word {
    flex: 100%;
    max-width: 1270px;
  }

  &__cards {
    display: flex;
    width: 100%;
    flex: 100%;
  }

  &__todo {
    flex: 100%;
  }
}

// word task session
.word__todo {
  min-width: 280px;
  .cardTodo {
    column-gap: 0.4em;
    border-left: 3px solid transparent;
    grid-template-columns: 15% 30% 30% 20%;
    svg {
      opacity: 1;
      fill: $paragraph;
    }
  }
}
.todoPage__cards--word {
  margin-top: 0.8em;
}

@media screen and (min-width: 1024px) {
  .welcomeCard {
    .card {
      flex: 62%;
      max-width: 1270px;
    }
    &__date {
      flex: 1;
      min-width: 280px;
    }
  }

  .word {
    &__word {
      flex: 62%;
    }
    &__todo {
      flex: 1;
    }
  }
}
